.notificationsBar {
	flex: 3.5;
}

.notifWrapper {
	padding: 20px 20px 0 0;
}

.birthdayContainer {
	display: flex;
	align-items: center;
}

.birthdayImg {
	width: 40px;
	height: 40px;
}

.birthdayText {
	font-weight: 300;
	font-style: 15px;
}

/* Brave blocks everything Ad related lol. */
.mainosImg {
	width: 100%;
	max-height: 250px;
	border-radius: 10px;
	margin: 30px 0;
	display: block !important;
}

.FriendsHeader {
	margin-bottom: 20px;
}

.friendList {
	padding: 0;
	margin: 0;
	list-style: none;
}

.notifTitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.notifInfo {
	margin-bottom: 30px;
}

.notifInfoItem {
	margin-bottom: 10px;
}

.notifInfoKey {
	font-weight: 500;
	margin-right: 15px;
	color: #555;
}

.notifValue {
	font-weight: 300;
}

.notifFollowings {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px;
	cursor: pointer;
}

.notifFollowing {
	display: flex;
	flex-direction: column;
}

.notifFollowingImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
}

.followButton {
	margin-top: 30px;
	margin-bottom: 10px;
	border: none;
	background-color: #dd2c00;
	color: white;
	border-radius: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.followButton:focus {
	outline: none;
}
